/* Write some CSS below */
body {
	font-family: 'Montserrat', sans-serif;
	color: #3E4149;
	text-align: center;
	background-color: #FEF7D9;
}

a {
	color: #3E4149;
	font-family: 'Sacramento', cursive;
	text-decoration: none;
	font-weight: bold;
	font-size: 30px;
}

a:hover {
	color: #F73859;
}

/* custom class design */

.navbar {
	background-color: #F8B195;
	width: auto;
	height: 100px;
}

.navbar ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.navbar li {
	display: inline-block;
	padding: 30px;
	margin: auto;
	position: relative;
}

.navbar a::before {
	content: '';
	display: block;
	height: 5px;
	background-color: #F73859;
	position: relative;
	top: 65px;
	width: 0%;
	transition: all ease-in-out 250ms;
}

.navbar a:hover::before {
	width: 100%;
}

.banner {
	background-image: url(images/Chamonix.JPG);
	font-family: 'Sacramento', cursive;
	font-size: 22px;
	width: auto;
	height: 1000px;
	background-size: cover;
	text-align: right;
	padding: 24px;
	margin: auto;
}

h1:hover {
	color: #E84A5F;
}

.container	{
	font-size: 18px;
	width: 1300px;
	margin: auto;
}

@media (min-width: 500px) {
  .container {
    width: 400px;
    }
}

@media (min-width: 800px) {
  .container {
    width: 600px;
    }
}

@media (min-width: 1300px) {
  .container {
    width: 1300px;
   }
}

.card-pink {
	background-color: #F8B195;
	width: 350px;
	height: 1400px;
	border-radius: 8px;
	font-size: 18px;
	padding: 15px;
	margin: 10px auto;
}

.card-pink h2 {
	font-family: 'Sacramento', cursive;
	font-size: 30px;
}

.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 1200px) {
  .cards {
    grid-template-columns: 1fr;
  }
  
  .card-pink {
	  width: 350px;
	  height: auto;
	  margin: 10px auto;
    }
}

.footer {
	background-color: #F8B195;
	border-radius: 4px;
	font-family: 'Sacramento', cursive;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
	margin-top: 10px;
}

.footer p:hover {
	color: #F73859
}
